<div class="recipe recipe-list-item">
    <div class="recipe-image">
        <img src="{{recipe.cover.url}}" alt="temp image">
        <div class="recipe-title-container">
            <h2 class="recipe-title">{{ recipe.title }}</h2>
        </div>
    </div>
    <div class="recipe-autor">
        <span class="recipe-autor-item">
            <i class="fa fa-user"></i>
            {{ recipe.author.first_name }} {{ recipe.author.last_name }}
        </span>
        <span class="recipe-autor-item">
            <i class="fa fa-calendar"></i>
            {{recipe.created_at|date:"d/m/Y h:m:s"}} às  {{recipe.created_at|date:"h:m"}}
        </span>
        <span class="recipe-autor-item">
            <a href="">
                <i class="fa fa-layer-group"></i>
                <span>Categoria {{recipe.category.name}}</span>
            </a>
        </span>
    </div>
    <div class="recipe-content">
        <p>{{recipe.description}}</p>
    </div>
    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h3 class="recipe-meta-title">
                <i class="fa fa-stopwatch"></i>
                Preparo
            </h3>
            <div>
                {{ recipe.preparation_time}} {{recipe.preparation_time_unit}}
            </div>
        </div>
        <div class="recipe-meta recipe-servings">
            <h3 class="recipe-meta-title">
                <i class="fa fa-pizza-slice"></i>
                Porções
            </h3>
            <div>
               {{recipe.servings}} {{recipe.serving_unit}}
            </div>
        </div>
    </div>
    {% if is_detail_page is not True %}
    <footer class="recipe-footer">
        <a href="recipe/1" class="recipe-read-more">
            <i class="fa fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>
    {% endif %}
    {% if is_detail_page is True %}
        <div class="recipe-preparation">
            {{recipe.preparatio_steps|linebreaksbr}}
        </div>
    {% endif %}
</div>